*{
  box-sizing: border-box;
}
header{
  width: 100vw;
  height: 25vh;
  background-color: lightcyan;
  text-align: center;
}

.middle-section{
  width: 100vw;
  height: 80vh;
  background-color: lightpink;
  display: flex;
  flex: 1;
}

aside{
  width: 30vw;
  height: 80vh;
  background-color: lightseagreen;
}

.image-section{
  width: 70vw;
  height: 80vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer{
  width: 100vw;
  height: 20vh;
  background-color: lime;
}